# ignore folder
# Byte-compiled / optimized / DLL files
**/__pycache__
.idea

usv_models/
models_extra/

# ignore images

*.png

*.PNG
#
*.py[cod]
# Ignore audio files
*.wav
*.WAV

*.mat
*.LOG
*.log
*.bak
*-ubuntu.py